<div class="filter-container">
  <!-- Loading State -->
  <div *ngIf="loading" class="loading">
    <div class="loading-spinner"></div>
  </div>

  <!-- Categories List -->
  <div *ngIf="!loading" class="categories-list">
    <button 
      class="category-button"
      [class.active]="!selectedCategory"
      (click)="selectCategory(null)">
      Todas as Categorias
    </button>

    <button 
      *ngFor="let category of categories"
      class="category-button"
      [class.active]="selectedCategory === category.id"
      (click)="selectCategory(category.id)">
      {{ category.name }}
    </button>
  </div>
</div>
