.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  
  .mat-toolbar {
    background: inherit;
  }
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 20px;
  height: calc(100vh - 64px);
  overflow-y: auto;
}

.active {
  background: rgba(0, 0, 0, 0.04);
}
